/.quarto/
**/*.quarto_ipynb

/.luarc.json

# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.venv/
.env
.ipynb_checkpoints/

# Jupyter / Quarto cache
.jupyter_cache/
.quarto/

# Pipenv local env files
Pipfile.lock.backup

# Editor
.vscode/*
!.vscode/settings.json