[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
ipympl = "*"
seaborn = "*"
plotly = "*"
networkx = "*"
scipy = "*"
scikit-learn = "*"
statsmodels = "*"
xgboost = "*"
scikit-image = "*"
sympy = "*"
pyswarms = "*"
ipykernel = "*"
pyarrow = "*"
openpyxl = "*"
jupyter = "*"
jupyterlab = "*"
ipython = "*"
emcee = "*"
corner = "*"
cvxpy = "*"
polars = "*"
lightgbm = "*"
catboost = "*"
shap = "*"
optuna = "*"

[dev-packages]

[requires]
python_version = "3.12"
