[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
jupyter = "*"
ipykernel = "*"
pyyaml = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
ipympl = "*"
seaborn = "*"
plotly = "*"
networkx = "*"
scipy = "*"
scikit-learn = "*"
statsmodels = "*"
xgboost = "*"
shap = "*"
scikit-image = "*"
sympy = "*"
pyswarms = "*"
cvxpy = "*"

[dev-packages]

[requires]
python_version = "3.12"
